/* PC、スマホ共通スタイル */
body {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    background-color: #ffffff;
    max-width: 1200px;
  }
  
ul {
    font-size: 34px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    border-color: gray;
}

.MP {
    border: solid 2px gray;
    
}

.AB {
    padding: 10px;

}

.WO {
    padding: 10px;

}


a {
    text-decoration: none;
    
}

h2 {
    margin: 40px auto 40px auto;
    font-size: 34px;
    text-align: center;

}

main > img {
    height: 400px;
    width: 100%;
}
/* About　*/
#About {
    margin: 20px auto 20px auto;
    width: 820px;
    padding: 10px;

}

#about-flex {

    width: 100%;
    display: flex;
}    

#about-flex > div {
    margin: o 30px o 30px;
}




h3 {
    font-size: 24px;

}

p {
    font-size: 18px;


}

/* works */
#works {
    margin: 20px auto 20px auto;
    width: 820px;

}

#works-flex {
    width: 200px;
    display: flex;
    padding: 10px;
}

#works-flex > div {
    margin: o 30px o 30px;
}

    
h4 {
    margin: 40px auto 40px auto;
    font-size: 18px;
    text-align: center;

}
/*================
スマートフォン用のスタイル
=================*/
@media screen and (max-width: 767px) {
/* ナビゲーションのリンクの装飾設定 */
#nav-pc li {
    margin: 0 10px;
  }
}
